


/* ///////////////////////////////////////////////////////////////////// 
//  01 - Global 
/////////////////////////////////////////////////////////////////////*/

* {outline: none !important;}

::selection {
	background-color: #475B6F;
	color: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-y: scroll;
}

body {
	color: #6a6a6a;	
	background: #f1f0f0;
}

p {margin: 0 0 20px 0;	}

img {max-width: 100%;}

a {
	text-decoration: none;
	outline: none;
}

a{	
	color: #4da7ca;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
}

a:hover {
	color: #4290ae;	
}


h1, h2, h3, h4, h5, h6{		
	margin: 0 0 15px 0;	
	color: #3A4F52;
	font-family: 'Alegreya Sans';
}

.btn{border-radius: 0;}
.btn-o {
    border: 1px solid #3A4F52;
    color: #3A4F52;
}
.btn-o:hover {
    background: #3A4F52;
    color: white;
}
.btn.btn-o-white {
    border: 1px solid white;
    color: white;
    background: transparent;
}
.btn.btn-o-white:hover {
    background: white;
    color: #6a6a6a;
}


/*////////////////////////////////////////////////////////////////////////
//  02 - Header
///////////////////////////////////////////////////////////////////////*/

#header {	
	position: relative;
	padding: 0 !important;
}

#header.header-wrapper {
	background: url(../images/header_bg.jpg) no-repeat center center;
	background-size: cover;
	display: table;
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow-x: hidden; 
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #header.header-wrapper {
		height: auto;
		min-height: 100vh;
		padding: 0px;
	}
}

#header.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
}

#header .top {
	position:fixed;
	top:0;
	width: 100%;
	padding: 30px;
	height: auto;
	z-index: 500;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;	
	transition: all .5s;		
}

#header .top.solid {
    background: #475B6F;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header .top h1{
	margin-bottom: 0;
}
#header .top.solid .toggleDrawer i {
    padding-top: 8px;
}

#header .logo, #header .toggleDrawer{
	font-family: 'Alegreya SC';
	color: white;
}

#header .slogan{
	font-size: 4em;
	margin-bottom: 15px;
	line-height: 1em;
	font-family: 'Nixie One';
	color: white;
}

#header .secondary-slogan{
	font-size: 1.6em;
	color: rgba(255,255,255,.5);
	line-height: 1em;
	font-family: 'Alegreya SC';
}

#header .bottom {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#header .bottom a img {
    width: 50px;
}
#header .bottom a {
    opacity: 0.7;
}
#header .bottom a:hover {
    opacity: 1;
}





/*////////////////////////////////////////////////////////////////////////
//  03 - Parallax styles
///////////////////////////////////////////////////////////////////////*/

.content-block{
	background:transparent no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding: 60px 0;
}
.parallax{
	padding: 80px 0;
}

.block-body {
	margin-top: 60px;
}

#contact {
	background-image: url(../images/newsletter-bg.png);
	color: white;
	background-color: #405162;
}
#parallax h1{
	margin-bottom: 60px;
	color: white;
}




/*////////////////////////////////////////////////////////////////////////
//  04 - Recent works
///////////////////////////////////////////////////////////////////////*/

.recent-work {
    width: 100%;
    padding-bottom: 27%;
    background: #C3C9CC;
    display: table;
    text-align: center;
    vertical-align: middle;
    padding-top: 27%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
}

.recent-work span{
	margin-top: -18px;
	opacity: 0;
	position: relative;
	z-index: 1;
}
.recent-work:before {
    background: rgba(2, 56, 58, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    -o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.recent-work:hover {
    background-size: 200%;
    background-position: center;
}
.recent-work:hover:before, .recent-work:hover span {
    opacity: 1;
}

.movie1 {
	background-image: url(../images/movie_recommend-640x480.jpg);
}

.movie2 {
	background-image: url(../images/movie_action-640x480.jpg);
}

.movie3 {
	background-image: url(../images/movie_fiction-640x480.jpg);
}

.movie4 {
	background-image: url(../images/movie_war-640x480.jpg);
}

.movie5 {
	background-image: url(../images/movie_love-640x480.jpg);
}

.movie6 {
	background-image: url(../images/movie_funny-640x480.jpg);
}


#contact{
	color: white;
}
#contact h1{color: white}

.form-control-white {
    background: transparent;
    color: white;
}

.form-control-white::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
.form-control-white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
.form-control-white::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
.form-control-white:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}



#footer{ background: #2B3E51; color: white;}



/*////////////////////////////////////////////////////////////////////////
//  05 - Responsive styles
///////////////////////////////////////////////////////////////////////*/


@media (max-width: 767px){
	#header .slogan {
		font-size: 2.8em; 
	} 

	#header .secondary-slogan {
		font-size: 1.2em;
	}

	#header .bottom {
		bottom: 13%;
	}

	.blog-post {
		margin-bottom: 40px;
	}

	.recent-work {
		background-position: center;
	}

	.recent-work:before {
		opacity: 1;
	}

	.recent-work span {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	#drawer-right {
		padding: 10px 20px;
	}

	#drawer-right .nav-pills>li>a {
		font-size: 17px;
	}

	.nav-stacked>li+li {
		margin-top: 0;
	}

	.nav>li>a {
		padding: 8px 15px;
	}

	#drawer-right .social {
		margin-top: 5px;
	}

	#header {
		background-size: cover;
	}
}
