<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="icon" href="{{ url_for('static', filename='images/imovie_icon.ico') }}">

    <!-- google fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
			<script src="{{ url_for('static', filename='js/respond.js') }}"></script>
		<![endif]-->

    <!--[if IE 8]>
	    	<script src="{{ url_for('static', filename='js/selectivizr.js') }}"></script>
	    <![endif]-->
    {% block head %}{% endblock %}
</head>

<body>
<div id="wrapper">
    {% block header %}
    {% endblock %}
    <!-- header -->

    {% block content %}
    {% endblock %}
    <!-- #portfolio -->

    {% block contact %}
    {% endblock %}
    <!-- #contact -->

    {% block page %}
    {% endblock %}

    <div class="content-block" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">&copy; Copyright IMovie 2017</div>
                <div class="col-xs-6 text-right">Theme by <a href="https://github.com/YangJian1994" target="_blank">Mr_Yang</a>
                </div>
            </div>
        </div>
    </div><!-- #footer -->


</div><!--/#wrapper-->


<script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.actual.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
